table {
    border-collapse: collapse;
    width: 50%;
    
  }
  
  table, th, td {
    
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin: auto;
  }

  th{
      height: 55px;

  color: white;
  }
  tr:nth-child(even) {background-color: magenta; color:white}
  tr:nth-child(odd) {background-color: cyan;}
  