.container{
   text-align: center ;

   
}
.table{
    background-color: magenta;
    margin: 0 auto;
   
}
.idtext{
    color: cyan;
    font-size: 38px;
}

.nametext{
    color:white;
    font-size: 38px;
}

