.container{
   text-align: center ;
width: 100%;
   
}
.table{
    background-color: purple;
    margin: 0 auto;
    width: 100%;
   
}
.idtext{
    color: cyan;
    font-size: 30px;
}

.nametext{
    color:white;
    font-size: 30px;
}




.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftlink rightlink";
}

.leftlink{
    grid-area: leftlink;
    font-size: 25px;
    font-weight: 500px;
    justify-self: center;
}

.rightlink{
    grid-area: rightlink;
    font-size: 25px;
    font-weight: 500px;
    justify-self: center;
}





