
.resume-section{
    background-color: #40474e;
    padding: 4% 0;
  }
  .resume-text{
    text-align: center;
    color: white;
    
  }
  
  .resume-btn{
    
      background: #8bc53f;
      color: white;
      padding: 1%;
      border-radius: 30px;
      text-align: center;
      /* width: 20%; */
      justify-self: center;
  
  }
  
  .resume-container{
    display: grid;
    grid-template-areas:
    "resume-text"
    "resume-btn";
  }
  .resume-text{
    grid-area: resume-text;
  }
  .resume-btn{
    grid-area: resume-btn;
    width: 18%;
    justify-self: center;
  margin-top: 2%;
  background: #8bc53f;
  border: none;
  }
  /*
  .resume-btn:hover{
    background-color: magenta;
  }*/
  


  @media only screen and (max-width: 600px) {
   .resume-btn{
     width:40%;
   }
  }