.background{
    background-color: pink;
    margin: 0 auto;
}

.reporting{
    font-size: 45px;
    text-align: center;
}

.reportarea{
    background-color: aquamarine;
    padding: 10%;
    text-transform: uppercase;
}

.head{
    font-size: 50px;
    text-align: center;
}

.form{
    text-align: center;
    
}

.input{
    padding: .4%;
}

.submit{
    margin-top: 1%;
    margin-bottom: 2%;
    padding: .4%;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftlink rightlink";
}

.leftlink{
    grid-area: leftlink;
    font-size: 25px;
    font-weight: 500px;
    justify-self: center;
}

.rightlink{
    grid-area: rightlink;
    font-size: 25px;
    font-weight: 500px;
    justify-self: center;
}