.example {
    font: italic 16px cursive;
    background-color: magenta;
  }
  /* The following is not applied. */
  /* It is an ID selector and CSS Modules does not understand them. */
  #example {
    color: red;
  }